<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pelisplus - Peliculas y reseñas </title>
<!-- 

Highway Template

https://templatemo.com/tm-520-highway

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="/resources/src/bxs-movie.png">
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/resources/css/fontAwesome.css">
        <link rel="stylesheet" href="/resources/css/light-box.css">
        <link rel="stylesheet" href="/resources/css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="/resources/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>    


    <div class="grid-portfolio" id="portfolio" style="width: 100%; height:100%;">
        <div class="container">

            <table style="width: 100%;">

                <tr style="width: 100%;">
                    <td style="width: 50%;">
                        <h1 style="color: #FFFFFF;">PELISLINE</h1>
                    </td>
                    <% if(login){ %>
                    <td style="width:50%; text-align:right;padding-bottom: 10px;padding-right: 50px;">
                        <h2><%=name%></h2>
                    </td>
                    <td style="width: 50%; text-align: right;">
                        <button type="button" class="btn btn-secondary"><a style="text-decoration: none;" href="/logout">Cerrar Sesion</a></button>
                    </td>
                    <% } %>
                </tr>
        
            </table>


            <div class="row">
                <div class="col-md-4 col-sm-6" style="text-align: left;">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/resources/img/big_portfolio_item_4.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>Harry Potter <em>la primera</em></h1>
                                    <p>una mas de la saga</p>
                                </div>
                            </div></a>
                            <div class="image" style="width: 350px;height: 550px;">
                                <img src="/resources/img/portfolio_item_4.png" height="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="text-align: center;">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/resources/img/big_portfolio_item_2.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>raclette <em>taxidermy</em></h1>
                                    <p>Awesome Subtittle Goes Here</p>
                                </div>
                            </div></a>
                            <div class="image" style="width: 350px;height: 550px;">
                                <img src="/resources/img/portfolio_item_2.png" height="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="text-align: right;">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/resources/img/big_portfolio_item_3.png" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1>humblebrag <em>brunch</em></h1>
                                    <p>Awesome Subtittle Goes Here</p>
                                </div>
                            </div></a>
                            <div class="image" style="width: 350px;height: 550px;">
                                <img src="/resources/img/portfolio_item_3.png" height="100%">
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            
            <form>
                <div class="form-group" style="text-align: left; color: #FFFFFF;">
                  <label for="exampleInputEmail1">Buscar pelicula</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
                  <small id="emailHelp" class="form-text text-muted"">esperemos que exista :3</small>
                </div>

                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

              </form>

        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<strong><%= alertTitle %></strong>',
                icon: '<%= alertIcon %>',
                html:'<h6><%= alertMessage %></h6>',
                showCloseButton: true,
                showCancelButton: false,
                focusConfirm: false,
                showConfirmButton: <%=showConfirmButton%>,
                timer: <%=timer%>,
            }).then(() => {
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/resources/js/vendor/bootstrap.min.js"></script>
    
    <script src="/resources/js/plugins.js"></script>
    <script src="/resources/js/main.js"></script>

</body>
</html>