<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Pelisline - Login</title>
    <link rel="icon" href="/resources/src/bxs-movie.png">
    <link rel="stylesheet" href="/resources/src/main.css">
</head>
<body>
    <div class="container">
        <form class="form" id="login" method="POST" action="/auth">
            <h1 class="form__title">Autenticación</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input name="emailOrNickname" type="text" class="form__input" autofocus placeholder="Username or email">
                <div class="text_input_form"></div>
            </div>
            <div class="form__input-group">
                <input type="password" name="password" class="form__input" autofocus placeholder="Password">
                <div class="text_input_form"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="/register-form" id="linkCreateAccount">¿No tienes una cuenta? ¡Crea una!</a>
            </p>
        </form>
    </div>
    <script src="/resources/js/validate_login_form.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%=showConfirmButton%>,
                timer: <%=timer%>,
            }).then(() => {
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>
