<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Pelisline - Peliculas y reseñas </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <link rel="icon" href="/resources/src/bxs-movie.png">
      <link rel="stylesheet" href="/resources/css/bootstrap.css">
      <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
      <link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/resources/css/fontAwesome.css">
      <link rel="stylesheet" href="/resources/css/light-box.css">
      <link rel="stylesheet" href="/resources/css/templatemo-style.css">
      <link rel="stylesheet" href="/resources/css/resena.css">
      <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <script src="/resources/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
   </head>
   <body style="background-color: #232323;">
      <div style="background-color: #313131; width: 100%;">
         <div class="container">
            <table style="width: 100%;">
               <tr style="width: 100%;">
                  <td style="width: 50%;">
                     <a href="/home" style="text-decoration:none;">
                        <h1 style="color: #FFFFFF;">PELISLINE</h1>
                     </a>
                  </td>
                  <% if(login){ %>
                  <td style="width:50%; text-align:right;padding-bottom: 10px;padding-right: 50px;">
                     <h2 style="color: gainsboro;"><%=name%></h2>
                  </td>
                  <td style="width: 50%; text-align: right;">
                     <a style="text-decoration: none;" href="/logout"><button type="button" class="btn btn-secondary">Cerrar Sesion</button></a>
                  </td>
                  <% } %>
               </tr>
            </table>
         </div>
      </div>
      <div class="container" style="margin-top:50px;">
         <a href="/search?id=<%=idpelicula%>&flag=false">
            <button type="button" class="btn btn-primary" style="margin-bottom:20px; ">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
               </svg>
               Regresar
            </button>
         </a>
         <table style="width: 100%;">
            <tr style="width: 100%;">
               <td style="width: 50%;">
                  <h2 style="color: #FFFFFF; display: inline ;">Reseñando: </h2>
                  <h2 style="color: #FFFFFF; display: inline ;">Nombre de Pelicula </h2>
               </td>
            </tr>
         </table>
      </div>
      <div class="container" style="margin-top: 20px;">
         <div class="formulario-reseña">
            <form method="post" action="/resena_create">
               <input type="text" id="titulo" name="idpelicula" value="<%=idpelicula%>" style="display:none;" />
               <input type="text" id="titulo" name="idusuario" value="<%=idusuario%>" style="display:none;" />
               <div>
                  <label for="Titulo reseña" style="width: 100%">
                  <span class="required">Titulo reseña: *</span>
                  <input type="text" id="titulo" name="titulo" value="" placeholder="" required="required"
                     tabindex="1" autofocus="autofocus" />
                  </label>
               </div>
               <div>
                  <label for="Calificación" style="width: auto">
                  <span class="required">Calificación: *</span>
                  <input type="number" id="calificacion" name="calificacion" value="" placeholder="valor / 5"
                     required="required" tabindex="2" min="0" max="5" class="Calificación" />
                  </label>
               </div>
               <div>
                  <label for="Contenido" style="width: 100%">
                  <span class="required">Contenido: *</span>
                  <textarea id="contenido" name="contenido" tabindex="3" required="required"
                     placeholder="Maximo 1000 caracteres" maxlength="1000"></textarea>
                  </label>
               </div>
               <div>
                  <button name="submit" type="submit" id="submit">Publicar</button>
               </div>
            </form>
         </div>
      </div>
      <div class="footer-dark" style="margin-top:80px; width:100%; bottom:0px;">
         <footer class="footer-07">
            <div class="container">
               <div class="row mt-5">
                  <div class="col-md-12 text-center">
                     <p class="copyright">
                        Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This page is made with 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                           <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                        </svg>
                        by <a target="_blank">PURO PEKA PA'</a>
                     </p>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(typeof alert != "undefined") { %>
      <script>
         Swal.fire({
             title: '<strong><%= alertTitle %></strong>',
             icon: '<%= alertIcon %>',
             html:'<h6><%= alertMessage %></h6>',
             showCloseButton: true,
             showCancelButton: false,
             focusConfirm: false,
             showConfirmButton: <%=showConfirmButton%>,
             timer: <%=timer%>,
         }).then(() => {
             window.location='/<%= ruta %>'
         })
      </script>
      <% } %>
      <script src="/resources/js/vendor/bootstrap.min.js"></script>
      <script src="/resources/js/plugins.js"></script>
      <script src="/resources/js/main.js"></script>
   </body>
</html>